// Color palette: 
$lighten-5: #e0f2f1;
$lighten-4: #b2dfdb;
$lighten-3: #80cbc4;
$lighten-2: #4db6ac;
$lighten-1: #26a69a;
$main: #009688;
$darken-1: #00897b;
$darken-2: #00796b;
$darken-3: #00695c;
$darken-4: #004d40;
$accent-1: #a7ffeb;
$accent-2: #64ffda;
$accent-3: #1de9b6;
$accent-4: #00bfa5;
.App {
    text-align: center;
}

// Background color
body {
    background-color: $lighten-4;
}

.header {
    background-color: $lighten-2;
}

.btn-primary {
    background-color: $accent-1;
    border-style: none;
    color: black;
}

.btn-primary:hover {
    background-color: $darken-1;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $darken-4;
    border-color: none;
}

// #search-col {
//     // justify-content: right;
//     // justify-self: right;
//     // justify-items: right;
// }
#sort-col {
    justify-content: center;
    justify-items: center;
}

#search-filter-sort {
    justify-content: space-around;
    * {
        align-items: center;
    }
}

#search-col {
    display: flex;
    justify-content: flex-start;
}

#sort-col {
    display: flex;
    justify-content: center;
}

.filter-col {
    display: flex;
    justify-content: flex-end;
}

// Some fixing to get gaps between cols and rows
#post-rows {
    >* {
        >div {
            background-color: $lighten-5;
            padding: 1em;
            margin: .5em;
            text-align: center;
            border-radius: .5em;
        }
    }
}

// Some fixing to get gaps between cols and rows
#post-rows {
    * {
        padding: 0;
        margin: 0;
    }
}

// Removes the deafult padding of <Containers> to let e.g. <Jumbotron>
// the full witdh of the page
.fluid-container {
    padding: 0;
}

#pagination {
    justify-content: center;
    margin-top: 1.5em;
}

.post-div {
    display: flex;
    flex-direction: column;
    // h3 {
    //     flex-direction: column-reverse;
    //     justify-content: space-evenly;
    // }
    >div {
        margin: .5em;
        padding: 0;
    }
}

.top-bar-post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// .cat-name {
//     justify-self: flex-start;
//     align-self: flex-start;
// }
// .cat-age {
//     justify-self: flex-end;
//     align-self: flex-end;
// }